:root {
    --BG-Color: #21927f94;
    --BG-Hover:#c7fff794;
    --Font-regular: cinzel, serif;
    --Font-bold: cinzel-semibold, serif;

}

html {
    font-family: var(--Font-regular);
    font-size: 14px;

}

body {
    background: url(../img/WaterColor5.jpg);
    background-size: 70%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}