
.home-page, .about-page {
    font-family: var(--Font-bold);
    background-color: var(--BG-Color);
    padding: 2em;
    display: flex;

}

.home-page img, .about-page img{
    object-position: center;
    object-fit: contain;
    width: 300px;
    padding: 1em;
    background-color: var(--BG-Color);
    /* mix-blend-mode:  overlay; */

}